autodeploy/
*/autodeploy/
*/osgiTmp/
.metadata
RemoteSystemsTempFiles

# Maven
target/

# IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.pydevproject
.settings/

# Mac OS X
.DS_Store

hs_err_pid*.log
